# Tugas Mengukur Jarak

In [ ]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import pandas as pd
from sklearn.metrics.pairwise import pairwise_distances
data = pd.read_csv('https://raw.githubusercontent.com/Rezayoga1383/pendata/data/data.csv')
data

   No     Nama Jenis kelamin  Umur         Status Mempunyai anak  Jabatan
0   1     Dono     Laki-laki    20  Belum menikah          Tidak       CS
1   2     Agus     Laki-laki    26        menikah             Ya   Satpam
2   3    Anita     Perempuan    28        menikah             Ya       CS
3   4    Dohan     Laki-laki    21  Belum menikah          Tidak   Satpam
4   5  Kautsar     Laki-laki    29        menikah             Ya  manajer

In [ ]:
X = data[['Jenis kelamin', 'Umur', 'Status', 'Mempunyai anak', 'Jabatan']].copy()
X['Jenis kelamin'] = pd.Categorical(X['Jenis kelamin']).codes
X['Umur'] = pd.Categorical(X['Umur']).codes
X['Status'] = pd.Categorical(X['Status']).codes
X['Mempunyai anak'] = pd.Categorical(X['Mempunyai anak']).codes
X['Jabatan'] = pd.Categorical(X['Jabatan'], categories=['CS', 'Satpam', 'manajer'], ordered=True).codes

In [ ]:
dist_matrix = pairwise_distances(X, metric='manhattan') / max(pairwise_distances(X, metric='manhattan').flatten())

In [ ]:
print(dist_matrix)

[[0.    0.625 0.75  0.25  1.   ]
 [0.625 0.    0.375 0.375 0.375]
 [0.75  0.375 0.    0.75  0.5  ]
 [0.25  0.375 0.75  0.    0.75 ]
 [1.    0.375 0.5   0.75  0.   ]]